/* ******************
GALLERY STYLES
******************* */
// p b s t

.gallery { 
	margin: 0 auto;
	overflow: hidden;
	background: $bubble-background;
	@include border-radius(10px);
}

.gallery article { 
	margin-bottom: 7%;
	background: $light-background;
	@include border-radius(5px);
	box-shadow: $input-box-shadow;
	@include transition;

	.caption { color: $body-copy; }
}

.gallery article:last-child { margin-bottom: 0; }


.gallery img { 
	border-radius: 5px 5px 0 0;
	width: 100%; 
}

.gallery p { margin-bottom: 0; }

.caption { 
	position: relative;
	padding: 2.5% 5% 5%;
	font-weight: $source-normal;
	line-height: 1.35em;
	text-align: center; 
}

.gallery-no-link { 
	//float: right;
	//position: absolute;
	//right: 5%;
	margin-top: 3px;
	//display: inline-block;
	//z-index: 1;
	color: #ccc;
	//font-size: .75em;
}

/* FANCY BOX CUSTOM STYLING */
.fancybox-title {
	font-family: $source;
	font-size: 0.95em;
	text-align: center;
}

.fancybox-title-inside-wrap { padding-top: 15px; }
.fancybox-title .caption { padding-right: 0; }
.fancybox-title a { color: $body-copy; }
.fancybox-title i { margin-left: 5px; }


// MEDIA QUERIES FOR PORTFOLIO
// Tablet + Desktop
@media #{ $break-479 } {
	//.fancybox-skin, .fancybox-inner { max-width: 75%;}

	.gallery article {
		float: left;
		margin: 2.5%;	
		max-width: 45%;
	}
}

@media #{ $break-769 } {
	.gallery article { font-size: 1em; }

	.caption { 
		font-size: 1.1em;
		@include transition;
	}
}