/* ******************
GALLERY STYLES
******************* */
// p b s t

.gallery{ 
	margin: 0 auto;
	overflow: hidden;
	background: $bubble-background;
	@include border-radius(10px);
}

.gallery article { 
	margin-bottom: 7%;
	background: $light-background;
	@include border-radius(5px);
	box-shadow: $input-box-shadow;
	@include transition;

	.caption { color: $body-copy; }
}

.gallery article:last-child { margin-bottom: 0; }


.gallery img { 
	border-radius: 5px 5px 0 0;
	width: 100%; 
}

.gallery p { margin-bottom: 0; }

.caption { 
	position: relative;
	padding: 2.5% 5% 5%;
	font-weight: $source-normal;
	line-height: 1.35em;
	text-align: center; 
}

.gallery-icon { 
	float: right;
	position: absolute;
	right: 5%;
	margin-top: 3px;
	display: inline-block;
	z-index: 1;
	color: #ccc;
	font-size: .75em;
}

// MEDIA QUERIES FOR PORTFOLIO
// Tablet + Desktop
@media #{ $break-479 } {
	.gallery article {
		float: left;
		margin: 2.5%;	
		max-width: 45%;
	}
}

@media #{ $break-769 } {
	.gallery article { font-size: 1em; }

	.caption { 
		font-size: 1.1em;
		@include transition;
	}
}