/* ******************
NAVIGATION STYLES
******************* */
// p b s t

.navigation { 
	background: $mid-blue-background;
	position: relative;
	padding: 2%;
	overflow: hidden;
	width: 100%;
	color: #fff; 
}

.scrolled { background: #000; }

.logo { 
	display: none;
	float: left; 
	max-height: 50px;
	font-family: $bitter;
	font-size: 24px;
	font-weight: $bitter-bold;
	
	img { max-width: 100%; }
}

nav { 
	padding: 10px 0;
	max-heght: 50px;
	font-size: 1.2em;
	text-align: center 
}

nav ul { 
  margin: 0 10px;
  padding: 0;  
  list-style: none;
  width: auto;
	
	li { 
		margin-right: 5%;
		display: inline-block;
	} 

	li:last-child { margin-right: 0; }
}

nav a {
	padding: 10px 0;
	color: $light-text;
	font-weight: $openSans-semi-bold; 
	@include transition;
}

nav a:hover, nav a:active { 
	color: $nav-link-hover;
	@include transition;
}

// MEDIA QUERIES FOR HEADER
// Tablet + Desktop
@media #{ $break-480 } {
	.logo { display: block; }

	.navigation { 
		position: fixed;
		top: 0;
		background-color: transparent; //$clear-background;
		background-image: none;
	} 

	.dark-nav { background: $dark-nav-background; }

	nav { 
		padding: 5px 0;
		float: right;
		background: $clear-background;
		@include border-radius (5px);
		@include transition;
		font-size: 1em;
  }

  nav ul { width: 250px; }
}