/* ******************
NAVIGATION STYLES
******************* */
// p b s t

.navigation { 
	background: $black-nav-background;
	position: relative;
	padding: 1.25%;
	overflow: hidden;
	width: 100%;
	color: #fff; 
}

.scrolled { background: #000; }

.logo { 
	display: none;
	float: left; 
	max-height: 50px;
	font-size: 24px;
	font-weight: $source-bold;
	
	img { max-width: 100%; }
}

nav { 
	padding: 10px 0;
	max-heght: 50px;
	font-size: 1.2em;
	text-align: center;
}

nav ul { 
  margin: 0 10px;
  padding: 0;  
  list-style: none;
  width: auto;
	
	li { 
		margin-right: 5%;
		display: inline-block;
	} 

	li:last-child { margin-right: 0; }
}

nav a {
	padding: 10px 0;
	color: $light-background;
	font-weight: $source-semi-bold; 
	@include transition;
}

nav a:hover, nav a:active { 
	color: $nav-link-hover;
	@include transition;
}

// MEDIA QUERIES FOR HEADER
// Tablet + Desktop
@media #{ $break-479 } {
	.logo { 
		padding: 3px 0 0 3px;
		display: block; 
	}

	.navigation { 
		position: fixed;
		top: 0;
		z-index: 2;
		background-color: transparent;
		@include transition;
	} 

	.dark-nav { background: $dark-nav-background; }

	nav { 
		padding: 7px 0;
		float: right;
		@include border-radius (20px);
		font-size: 1.1em;
		text-align: right;
  }

  nav ul { width: 250px; }
}