/* ******************
SOCIAL LINKS STYLES
******************* */
// p b s t

.social-links {
	color: #fff;
	display: block;
	font-size: 2em;
	text-align: center;	
	@include transition;

	a { 
		padding: 0 8px; 
		color: $white;

		:hover, :active {
			color: $nav-link-hover;
			@include transition;
		} 

		:first-child { margin-left: 0; }
		:last-child { margin-right: 0; }
	}
}

.block { 
	padding: 15px 25px;
	display: inline;
	line-height: 2.25em;
	@include border-radius(50px); 
}

.about-wrapper .social-links { margin-top: 5%; }

.about-wrapper .social-links a { 
	color: $light-text; 
	
	:hover, :active { color: $nav-link-hover; }
}

.about-wrapper .block { background: $bubble-background; }

// MEDIA QUERIES FOR SOCIAL LINKS
// Tablet + Desktop
@media #{ $break-480 } { 
	.social-links { 
		margin-top: 5%;
		color: $light-background; 
	}
	
	.about-wrapper .social-links { margin-top: 2.5%; }
}