article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ******************
VARIABLES
******************* */
/* ******************
MIXINS
******************* */
/* ******************
GENERAL STYLES
******************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: auto;
  color: #444444;
  font-family: 'Open Sans', sans-serif; }

body {
  background: whitesmoke;
  font-size: 14px;
  line-height: 1.75em; }

a {
  color: #f5f7fe;
  text-decoration: none; }

a:hover {
  color: #07184c; }

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

img {
  max-width: 100%; }

/* ******************
HEADER STYLES
******************* */
header {
  margin: 0 auto;
  max-height: 300px;
  background: url("../images/bg1a.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 4px solid #27276c;
  width: 100%; }

.intro {
  clear: both;
  padding: 5% 0;
  overflow: hidden;
  width: 100%;
  color: #f5f7fe;
  text-align: center;
  line-height: 0; }
  .intro h1, .intro h2 {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35); }
  .intro h1 {
    font-size: 3em;
    font-family: "Bitter", serif;
    font-weight: 700;
    line-height: 0.25em; }
  .intro h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600; }

.navigation {
  background: #2e49a2;
  position: relative;
  padding: 2%;
  overflow: hidden;
  width: 100%;
  color: #fff; }

.logo {
  display: none;
  float: left;
  max-height: 50px;
  font-family: "Bitter", serif;
  font-size: 24px;
  font-weight: 700; }
  .logo img {
    max-width: 100%; }

nav {
  padding: 10px 0;
  max-heght: 50px;
  font-size: 1.25em;
  text-align: center; }

nav ul {
  margin: 0 10px;
  padding: 0;
  list-style: none; }
  nav ul li {
    display: inline-block; }

nav a {
  padding: 10px 0;
  color: #f5f7fe;
  font-weight: 600; }

nav a:hover {
  color: #07184c; }

@media screen and (min-width: 480px) {
  header {
    max-height: none;
    border-bottom: none;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25); }

  .logo {
    display: block; }

  .navigation {
    position: fixed;
    top: 0;
    background: none; }

  nav {
    padding: 5px 0;
    float: right; }

  .intro {
    padding: 25% 0; }
    .intro h1, .intro h2 {
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75); } }
/* ******************
BODY STYLES
******************* */
.wrapper {
  clear: both;
  margin: 0 auto;
  padding: 5%;
  max-width: 940px; }

.content {
  margin-bottom: 7%;
  padding: 0% 0 15%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden; }

.content:last-child {
  padding-bottom: 0;
  border-bottom: 0; }

.content h2 {
  margin-top: 0;
  padding: 5% 0 0;
  font-size: 1.75em;
  text-align: center; }

.gallery li {
  float: left;
  margin: 2.5%;
  background: #e1e1e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  list-style: none;
  width: 45%; }
  .gallery li a {
    color: #444444; }

.gallery img {
  border-radius: 5px 5px 0 0;
  width: 100%; }

.caption {
  padding: 2.5% 5% 5%;
  text-align: center; }

.photo {
  display: block;
  margin: 0 auto 7%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  width: 50%; }

@media screen and (min-width: 480px) {
  .gallery li {
    width: 28.3333%;
    font-size: 1em; }

  .gallery li:nth-child(4n) {
    clear: left; }

  .photo {
    float: left;
    margin: 0 5% 0 0;
    max-width: 250px; } }
/* ******************
FOOTER STYLES
******************* */
footer {
  padding: 5% 0 1.5%;
  background: #2e49a2;
  border-top: 3px solid #27276c;
  color: #f5f7fe;
  font-size: 0.75em;
  text-align: center; }
  footer h2 {
    margin-top: 0; }
  footer .copyright {
    padding-top: 2.5%; }
