article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ******************
VARIABLES
******************* */
/* ******************
MIXINS
******************* */
/* ******************
GENERAL STYLES
******************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

html, body {
  height: auto;
  color: #4a4a4a;
  font-family: "Source Sans Pro", sans-serif; }

body {
  background: white;
  font-size: 16px;
  line-height: 1.75em; }

a {
  color: #fff9e4;
  text-decoration: none; }

a:hover {
  color: #ebebeb; }

h1, h2, h3, h4 {
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

img {
  max-width: 100%; }

p {
  margin-bottom: 10%; }

@media screen and (min-width: 479px) {
  p {
    margin-bottom: 25px; } }
/* ******************
NAVIGATION STYLES
******************* */
.navigation {
  background: #346b9e;
  position: relative;
  padding: 1.25%;
  overflow: hidden;
  width: 100%;
  color: #fff; }

.scrolled {
  background: #000; }

.logo {
  display: none;
  float: left;
  max-height: 50px;
  font-size: 24px;
  font-weight: 700; }
  .logo img {
    max-width: 100%; }

nav {
  padding: 10px 0;
  max-heght: 50px;
  font-size: 1.2em;
  text-align: center; }

nav ul {
  margin: 0 10px;
  padding: 0;
  list-style: none;
  width: auto; }
  nav ul li {
    margin-right: 5%;
    display: inline-block; }
  nav ul li:last-child {
    margin-right: 0; }

nav a {
  padding: 10px 0;
  color: #f8f7ee;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

nav a:hover, nav a:active {
  color: #ebebeb;
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

@media screen and (min-width: 479px) {
  .logo {
    padding: 3px 0 0 3px;
    display: block; }

  .navigation {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.2s ease-in-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

  .dark-nav {
    background: rgba(0, 0, 0, 0.6); }

  nav {
    padding: 7px 0;
    float: right;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.1em;
    text-align: right; }

  nav ul {
    width: 250px; } }
/* ******************
SOCIAL LINKS STYLES
******************* */
.social-links {
  color: #fff;
  display: block;
  font-size: 2em;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }
  .social-links a {
    padding: 0 8px;
    color: white; }
    .social-links a :hover, .social-links a :active {
      color: #ebebeb;
      -webkit-transition: all 0.2s ease-in-out;
      /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
      transition: all 0.2s ease-in-out;
      /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }
    .social-links a :first-child {
      margin-left: 0; }
    .social-links a :last-child {
      margin-right: 0; }

.block {
  padding: 15px 25px;
  display: inline;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  line-height: 2.25em; }

.about-wrapper .social-links {
  margin-top: 5%; }

.about-wrapper .social-links a {
  color: #fff9e4; }
  .about-wrapper .social-links a :hover, .about-wrapper .social-links a :active {
    color: #ebebeb; }

.about-wrapper .block {
  background: rgba(0, 0, 0, 0.06); }

@media screen and (min-width: 479px) {
  .social-links {
    margin-top: 5%;
    color: #f8f7ee; }

  .about-wrapper .social-links {
    margin-top: 2.5%; } }
/* ******************
GALLERY STYLES
******************* */
.gallery {
  margin: 0 auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.gallery article {
  margin-bottom: 7%;
  background: #f8f7ee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }
  .gallery article .caption {
    color: #4a4a4a; }

.gallery article:last-child {
  margin-bottom: 0; }

.gallery img {
  border-radius: 5px 5px 0 0;
  width: 100%; }

.gallery p {
  margin-bottom: 0; }

.caption {
  position: relative;
  padding: 2.5% 5% 5%;
  font-weight: 400;
  line-height: 1.35em;
  text-align: center; }

.gallery-icon {
  float: right;
  position: absolute;
  right: 5%;
  margin-top: 3px;
  display: inline-block;
  z-index: 1;
  color: #ccc;
  font-size: .75em; }

@media screen and (min-width: 479px) {
  .gallery article {
    float: left;
    margin: 2.5%;
    max-width: 45%; } }
@media screen and (min-width: 769px) {
  .gallery article {
    font-size: 1em; }

  .caption {
    font-size: 1.1em;
    -webkit-transition: all 0.2s ease-in-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.2s ease-in-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ } }
/* ******************
FORM STYLES
******************* */
#form-messages {
  margin-bottom: 2.5%; }

.form {
  margin: 0 auto;
  padding: 2.5%;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

.field {
  width: 100%; }

form input, form textarea, form button {
  margin-bottom: 5%;
  padding: 5%;
  width: 100%;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  color: #aaaaaa;
  text-align: left; }

form input, form textarea {
  background: #f8f7ee; }

form input:focus, form textarea:focus {
  background: #efefef;
  box-shadow: none;
  color: #666666; }

form textarea {
  min-height: 200px; }

form button {
  margin-bottom: 0;
  background: #4f9de1;
  color: #fff9e4;
  font-size: 1.25em;
  text-align: center; }

form button:hover {
  box-shadow: none; }

form button:active {
  background: #003f7d; }

@media screen and (min-width: 660px) {
  .form {
    margin: 0 auto;
    width: 75%; } }
@media screen and (min-width: 1025px) {
  form input, form textarea {
    padding: 3%; }

  form button {
    padding: 3%; } }
/* ******************
HEADER STYLES
******************* */
header {
  position: relative;
  margin: 0 auto;
  max-height: 300px;
  overflow: hidden;
  background: #4f9de1;
  width: 100%; }

.intro {
  clear: both;
  padding: 5% 0 1%;
  overflow: hidden;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 0; }
  .intro h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 0.25em; }
  .intro h2 {
    font-size: 1em;
    font-weight: 400; }

@media screen and (min-width: 479px) {
  header {
    max-height: none;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    background: url("../images/bg-yaletown.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: none; }

  .intro {
    padding: 20% 0 10%; }
    .intro h1 {
      font-size: 4em; }
    .intro h2 {
      font-size: 1.25em; } }
@media screen and (min-width: 660px) {
  .intro {
    padding: 24% 0 12%; }
    .intro h1 {
      font-size: 6em; }
    .intro h2 {
      font-size: 1.75em; } }
/* ******************
BODY STYLES
******************* */
.portfolio-wrapper, .about-wrapper {
  clear: both;
  padding: 5%;
  color: #fff9e4; }

.container {
  margin: 0 auto 7%;
  padding: 0% 0% 15%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  max-width: 940px;
  letter-spacing: 0.35px; }

.container:last-child {
  padding-bottom: 0;
  border-bottom: 0; }

.container h2, footer h2 {
  padding: 12% 0 5%; }

.container h2, .container h3, footer h2 {
  clear: both;
  margin-top: 0;
  font-size: 2.1em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25); }

.container h3 {
  margin: 12% 0 2.5%;
  padding-bottom: 0;
  font-size: 1.5em; }

.bubble {
  padding: 6%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.bubble-h3 {
  padding-top: 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.bubble-paragraph {
  text-align: center; }

.portfolio-wrapper {
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
  background: #ee5555; }

.portfolio-git {
  padding-top: 7%;
  display: block;
  font-size: .75em; }

.portfolio-git a:hover, .portfolio-git i:hover {
  color: #323232;
  -webkit-transition: all 0.2s ease-in-out;
  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
  transition: all 0.2s ease-in-out;
  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

.about-wrapper {
  background: #52bbb2; }

.photo {
  display: block;
  margin: 0 auto 7%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  width: 50%; }

.para-container {
  font-size: 1.075em; }

@media screen and (min-width: 479px) {
  .portfolio-git {
    padding-top: 5%;
    font-size: .875em;
    -webkit-transition: all 0.2s ease-in-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.2s ease-in-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ } }
@media screen and (min-width: 660px) {
  .portfolio-git {
    padding-top: 3%;
    font-size: 1em; } }
@media screen and (min-width: 769px) {
  .portfolio-git {
    padding-top: 2.5%; }

  .bubble {
    padding: 3%; }

  .photo {
    display: block;
    float: left;
    margin: 0 5% 10% 2.5%;
    max-width: 30%;
    -webkit-transition: all 0.2s ease-in-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.2s ease-in-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

  .container h3 {
    margin-top: 10%;
    -webkit-transition: all 0.2s ease-in-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.2s ease-in-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ }

  .para-container {
    float: left;
    width: 60%;
    -webkit-transition: all 0.2s ease-in-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.2s ease-in-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */ } }
/* ******************
FOOTER STYLES
******************* */
footer {
  padding: 5% 5% 1.5%;
  background: #21384d;
  color: #fff9e4;
  text-align: center; }
  footer h2 {
    margin-top: 0; }
  footer .copyright {
    margin-bottom: 0;
    padding-top: 2%;
    font-size: 0.75em; }

footer .container {
  margin-bottom: 0;
  padding-bottom: 7%;
  border-bottom: 0; }

@media screen and (min-width: 479px) {
  footer {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25); }

  footer .container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

  .copyright {
    clear: both; } }
