/* ******************
BODY STYLES
******************* */
// p b s t

// WRAPPERS
.portfolio-wrapper, .about-wrapper { 
	clear: both;
	//margin: 0 auto;
	padding: 5%;
	color: $light-text;
}

// CONTAINER
.container { 
	margin: 0 auto 7%;
	padding: 0% 0% 15%;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	overflow: hidden; 
	max-width: 940px; 
	letter-spacing: 0.35px;
} 

.container:last-child {
	padding-bottom: 0; 
	border-bottom: 0; 
}

.container h2, footer h2 { padding: 12% 0 5%; }

.container h2, .container h3, footer h2 { 
	clear: both;
	margin-top: 0;
	font-size: 2.1em;
	font-weight: $source-light;
	text-align: center; 
	text-shadow: $text-shadow;
}

.container h3 { 
	margin: 12% 0 2.5%;
	padding-bottom: 0;
	font-size: 1.5em; 
}

.bubble { 
	padding: 6%;
	overflow: hidden;
	background: $bubble-background;
	@include border-radius (10px);
}

.bubble-h3 { 
	padding-top: 35px; 
	border-top: 1px solid rgba(0, 0, 0, .05);
}

.bubble-paragraph { text-align: center; }


// PORFOLIO SECTION 
.portfolio-wrapper { background: $lobster-background; }

.portfolio-wrapper .container { margin-bottom: 0; }

a.portfolio-git:hover, .portfolio-git i:hover { 
	color: $git-hover; 
	@include transition;
}

// ABOUT ME SECTION
.about-wrapper { background: $green-background; }

.photo { 
	display: block;
	margin: 0 auto 7%;
	@include border-radius (100%);
	@include box-shadow;
	width: 50%; 
}

.para-container { font-size: 1.075em; }

// MEDIA QUERIES FOR PORTFOLIO
// Tablet + Desktop
@media #{ $break-660 } {
	//.container h3 { margin: 0; }
}

@media #{ $break-769 } {
	.bubble { padding: 3%; }

	.photo { 
		display:block;
		float: left;
		margin: 0 5% 10% 2.5%;
		max-width: 30%; 
		@include transition;
	}

	.container h3 { 
		margin-top: 10%;  
		@include transition;
	}

	.para-container { 
		float: left;
		width: 60%;
		@include transition;
	}
}
