/* ******************
BODY STYLES
******************* */
// p b s t

// WRAPPERS
.portfolio-wrapper, .about-wrapper { 
	clear: both;
	//margin: 0 auto;
	padding: 5%;
	color: $light-text;
}

.portfolio-wrapper { background: $dark-blue-background; }

.about-wrapper { background: $light-blue-background; }

// CONTAINER
.container { 
	margin: 0 auto 7%;
	padding: 0% 0% 15%;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	overflow: hidden; 
	max-width: 940px; 
}

.container:last-child {
	padding-bottom: 0; 
	border-bottom: 0; 
}

.container h2, footer h2 { 
	margin-top: 0;
	padding: 7% 0 5%;
	font-size: 2.1em;
	font-family: $bitter;
	font-weight: $bitter-normal;
	text-align: center; 
}

.bubble { 
	padding: 6%;
	overflow: hidden;
	background: $bubble-background;
	@include border-radius (10px);
}

// ABOUT ME SECTION
.photo { 
	display: block;
	margin: 0 auto 7%;
	//border: 5px solid $dark-blue;
	@include border-radius (100%);
	@include box-shadow;
	width: 50%; 
}


// MEDIA QUERIES FOR PORTFOLIO
// Tablet + Desktop
@media #{$break-660} {
	.bubble { padding: 3%; }

	.photo { 
		float: left;
		margin: 0 5% 10% 0;
		max-width: 30%; 
		@include transition;
	}

	.about-paragraph { 
		float: left;
		width: 65%;
		@include transition;
	}
}


