/* ******************
FOOTER STYLES
******************* */
// p b s t

footer { 
	padding: 5% 0 1.5%;
	background: $mid-blue-background;
	border-top: 3px solid $dark-blue;
	color: $light-text;
	text-align: center;

	h2 { margin-top: 0; }

	.copyright { 
		padding-top: 2.5%;
		font-size: 0.75em; 
	}

}