/* ******************
HEADER STYLES
******************* */
// p b s t

header { 
	margin: 0 auto;
	max-height: 300px;
	background: url('../images/bg1a.jpg') no-repeat center center fixed; 
	//background: #318aef;
  @include background-cover;
  border-bottom: 4px solid $dark-blue;
	width: 100%; 
}
	
.intro { 
	clear: both;
	padding: 5% 0;
	overflow: hidden;
	width: 100%;
	color: $light-text;
	text-align: center;
	line-height: 0;
	
	h1, h2 { text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35); }

	h1 { 
		font-size: 3em;
		font-family: $bitter;
		font-weight: $bitter-bold;
		line-height: 0.25em; 
	}

	h2 { 
		font-family: $open-sans;
		font-size: 1em;
		font-weight: 600;
	} 
}




// MEDIA QUERIES FOR HEADER
// Tablet + Desktop
@media #{ $break-480 } {
	header { 
		max-height: none;
		border-bottom: none;
		@include inner-box-shadow; 
	}

	.intro { padding: 25% 0;

		h1, h2 { text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75); }

	}
}
