/* ******************
HEADER STYLES
******************* */
// p b s t

header { 
	position: relative;
	margin: 0 auto;
	max-height: 300px;
	overflow: hidden;
	background: $light-blue-background;
	width: 100%; 
}
	
.intro { 
	clear: both;
	padding: 5% 0 1%;
	overflow: hidden;
	width: 100%;
	color: $white;
	text-align: center;
	line-height: 0;
	
	h1 { 
		font-size: 3em;
		font-weight: $source-bold;
		line-height: 0.25em; 
	}

	h2 { 
		font-size: 1em;
		font-weight: $source-normal;
	} 
}


// MEDIA QUERIES FOR HEADER
// Tablet + Desktop
@media #{ $break-480 } {
	header { 
		max-height: none;
	  
	  /* Preserve aspet ratio */
	  min-width: 100%;
	  min-height: 100%;
		
		background: url('../images/bg-bike.jpg') no-repeat center center;
		@include background-cover;
  	
		border-bottom: none;
		//@include inner-box-shadow; 
	}

	.intro { 
		padding: 15% 0;

		// h1, h2 { text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); }
		h1 { font-size: 4em; }
		h2 { font-size: 1.25em; }
	}
}

// Tablet
@media #{ $break-660 } {

	.header { min-height: 600px; }

	.intro { 
		padding: 24% 0;

		h1 { font-size: 6em; }
		h2 { font-size: 1.75em; }
	}
}

// Desktop
@media #{ $break-1025 } {
	header { 
		background: url('../images/bg-bike.jpg') no-repeat center center fixed;
		@include background-cover;
	} 
}