/* ******************
GENERAL STYLES
******************* */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,body{
	// Styles
	height: auto;
	color: $body-copy;
	font-family: 'Open Sans', sans-serif; 
}

body { 
	background: $content-bg;
	font-size: 14px;
	line-height: 1.75em; 
}

a {
	color: $light-text; 
	text-decoration: none; 
}

	a:hover { color: $nav-link-hover; }

h1, h2, h3, h4 { 
	font-family: $open-sans;
	font-weight: 400; 
}

img { max-width: 100%; }