/* ******************
GENERAL STYLES
******************* */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html,body{
	// Styles
	height: auto;
	color: $body-copy;
	font-family: $source;
}

body { 
	background: $content-bg;
	font-size: 16px;
	line-height: 1.75em; 
}

a {
	color: $light-text; 
	text-decoration: none; 
}

	a:hover { color: $nav-link-hover; }

h1, h2, h3, h4 { 
	font-weight: 300;	
	@include transition; 
}

img { max-width: 100%; }

p { margin-bottom: 10%; }

// MEDIA QUERIES FOR HEADER
// Tablet + Desktop
@media #{ $break-480 } {
	p { margin-bottom: 25px; }
}

