/* ******************
VARIABLES
******************* */

// SHADOWS
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
$text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
$inner-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
$input-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15);


// BACKGROUND COLOURS
$content-bg: #fff;

$lobster-background: rgba(238, 85, 85, 1);
$green-background: rgba(82, 187, 178, 1);
$blue-background: rgba(33, 56, 77, 1);

$light-blue-background: rgba(79, 157, 225, 1);
$mid-blue-background: rgba(52, 107, 158, 1);
$dark-blue-background: rgba(0, 63, 125, 1);

$light-background: rgba(248, 247, 238, 1);
$dark-nav-background: rgba(0, 0, 0, .6);

$bubble-background: rgba(0, 0, 0, .06);

$input-focus-background: rgba(239, 239, 239, 1);


// TEXT COLOURS
$body-copy: rgba(74, 74, 74, 1); // #444
$white: rgba(255, 255, 255, 1);
$light-text: rgba(255, 249, 228, 1);

$nav-link-hover: rgba(235, 235, 235, 1); 
$git-hover: rgba(50, 50, 50, 1); // #444

$form-text: rgba(170, 170, 170, 1);
$form-text-focus: rgba(102, 102, 102, 1);


// TYPOGRAPHY
$source: 'Source Sans Pro', sans-serif;

$source-light: 300;
$source-normal: 400;
$source-semi-bold: 600;
$source-bold: 700;


// BREAK POINTS
$break-479: "screen and (min-width: 479px)";
$break-660: "screen and (min-width: 660px)";
$break-769: "screen and (min-width: 769px)";
$break-1025: "screen and (min-width: 1025px)";


